.book-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .book-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  .book-author {
    font-style: italic;
    color: #555;
  }
  
  .book-publishyear{
    font-size: 14px;
    color: #777;
  }
  