.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  width: 100%;
  box-shadow: 0 4px 8px rgba(50, 31, 46, 0.1);

}

/* Styling for main menu */
.main-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 15px;
}

.main-menu li {
  display: inline;
}

.main-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s;
}

/* Styling for the Login link */
.login-link a, .register-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s;
  padding: 15px;
  padding-right: 5px;
}


/* Hover effect for links */
.main-menu li a:hover,
.login-link a:hover, .register-link a:hover {
  color: #007bff;
}

.profile-link {
  margin-left: auto;
}

.profile-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.profile-icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}