.profile-page {
    padding: 20px;
  }
  
  .profile-page h1 {
    text-align: center;
  }

  .logout-button {
    display: block;
    text-align: left;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }